<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="upload[file]">

    <input type="text" name="upload[name]">

    <button>Upload Image</button>

</form>


<img src="<%= path %>">